*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../background.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}