@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
}

#main{
    display: flex;
    flex-direction: column;
    background: url("../bit.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    
    
    font-size: 39px;
    font-weight: bold;
    font-family: 'Recursive', sans-serif;
    color: whitesmoke;
}

#highBox{
    
    font-size: 39px;
    font-weight: bold;
    font-family: 'Recursive', sans-serif;
    color: whitesmoke;
    margin-bottom: 30px;
}

h1{
    font-size: 39px;
    font-weight: bold;
    font-family: 'Recursive', sans-serif;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#board{
    background: linear-gradient(rgb(33, 120, 155),rgb(77, 58, 128));
    width: 60vmin;
    height: 62vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background-color: rgb(21, 87, 99);
    border: 2px solid black;
    border-radius: 10px;
    transform: scale(1.02);
}

.snake{
    background-color:rgb(88, 92, 160) ;
    border: 2px solid black;
    border-radius: 10px;
}

.food{
    background: linear-gradient(rgb(87, 24, 45), rgb(141, 5, 50)); 
    border: 2px solid rgb(112, 28, 28);
    border-radius: 25px;
}



@media only screen and (max-width:800px){
    #main {
       background: url("../bit2.jpg");
    }
    h1{
        font-size: 25px;
    }
  }